@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'oswald';
  src: url('../GlitchGoblin-2O87v.ttf');
}
@font-face {
  font-family: 'glitch';
  src: url('../SdglitchdemoRegular-YzROj.ttf');
}
@font-face {
  font-family: 'techno';
  src: url('../TechnoCharmDemoVersionRegular-ALaZm.otf');
}